<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="guide.tm.infrastructure.datasource.customer.CustomerMapper">

    <insert id="register">
        INSERT INTO 顧客.顧客 (顧客ID, 顧客番号, 顧客姓, 顧客名, 顧客姓カナ, 顧客名カナ, 個人法人区分)
        VALUES (
                #{customer.customerId.value},
                #{customerNumber.value},
                #{customer.name.lastName},
                #{customer.name.firstName},
                #{customer.name.lastName},
                #{customer.name.firstName},
                #{customer.type}
                )
    </insert>

    <select id="summaries" resultType="guide.tm.domain.model.customer.CustomerSummary">
        SELECT
            顧客ID AS "code.value",
            顧客姓 AS "name.value",
            顧客名
        FROM 顧客.顧客
    </select>

    <select id="customerSummariesOf" resultType="guide.tm.domain.model.customer.CustomerSummary">

        SELECT
            顧客ID AS "code.value",
            顧客姓 AS "name.lastName",
            顧客名 AS "name.firstName",
            顧客姓カナ AS "nameKana.lastName",
            顧客名カナ AS "nameKana.firstName"
        FROM 顧客.顧客
        WHERE 顧客姓 LIKE CONCAT('%', #{customerSearchCriteria.customerName}, '%')
           OR 顧客名 LIKE CONCAT('%', #{customerSearchCriteria.customerName}, '%')
           OR 顧客姓カナ LIKE CONCAT('%', #{customerSearchCriteria.customerName}, '%')
           OR 顧客名カナ LIKE CONCAT('%', #{customerSearchCriteria.customerName}, '%')
    </select>

    <select id="newCustomerNumber" resultType="long">
        SELECT nextval('顧客.顧客番号')
    </select>
</mapper>