<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="guide.tm.infrastructure.datasource.customer.CustomerMapper">

    <insert id="register">
        INSERT INTO 顧客.顧客 (顧客ID, 顧客番号, 顧客名, 顧客名カナ)
        VALUES (
                #{customer.customerId.value},
                #{customerNumber.value},
                #{customer.customerName.name.value},
                #{customer.customerName.nameKana.value}
                )
    </insert>

    <select id="summaries" resultType="guide.tm.domain.model.customer.CustomerSummary">
        SELECT
            顧客ID AS "customerId.value",
            顧客名 AS "name.value"
        FROM 顧客.顧客
    </select>

    <select id="customerSummariesOf" resultType="guide.tm.domain.model.customer.CustomerSummary">

        SELECT
            顧客ID AS "customerId.value",
            顧客名 AS "name.value",
            顧客名カナ AS "nameKana.value"
        FROM 顧客.顧客
        WHERE 顧客名 LIKE CONCAT('%', #{customerSearchCriteria.customerName}, '%')
           OR 顧客名カナ LIKE CONCAT('%', #{customerSearchCriteria.customerName}, '%')
    </select>

    <select id="newCustomerNumber" resultType="long">
        SELECT nextval('顧客.顧客番号')
    </select>

    <select id="customerOf" resultType="guide.tm.domain.model.customer.Customer">
        SELECT
            顧客.顧客ID AS "customerId.value",
            顧客名 AS "customerName.name.value",
            顧客名カナ AS "customerName.nameKana.value",
            連絡先.都道府県 AS "contact.address.prefecture",
            連絡先.住所 AS "contact.address.addressLine",
            連絡先.電話番号 AS "contact.phoneNumber.value",
            連絡先.担当者名 AS "contact.personInCharge"
        FROM 顧客.顧客
        INNER JOIN 顧客.連絡先 ON 顧客.顧客ID = 連絡先.顧客ID
        WHERE 顧客.顧客ID = #{customerId.value}
    </select>
</mapper>