<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="guide.tm.infrastructure.datasource.product.ProductMapper">

    <insert id="register">
        INSERT INTO 商品.商品 (商品コード, 商品名称, 商品単価)
        VALUES (
                #{product.code.value},
                #{product.name.value},
                #{product.unitPrice.amount.value}
                )
    </insert>

    <select id="products" resultType="guide.tm.domain.model.product.single.SingleProduct">
        SELECT
            商品コード AS "code.value",
            商品名称 AS "name.value",
            商品単価 AS "unitPrice.amount.value"
        FROM 商品.商品
    </select>




</mapper>