<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="guide.tm.infrastructure.datasource.shipping.ShippingInstructionMapper">

    <insert id="register">
        INSERT INTO 出荷指示.出荷指示 (出荷番号, 受注ID, 出荷日)
        VALUES (
                #{shippingNumber},
                #{shipping.salesOrderId.value},
                #{shipping.shippingDate.value}
               )
    </insert>

    <insert id="recordUnshippingSate">
        INSERT INTO 出荷指示._未出荷 (出荷番号)
        VALUES (#{shippingNumber})
    </insert>

    <insert id="registerShippedAllocations">
        INSERT INTO 出荷指示.出荷指示済引当 (出荷番号, 引当番号)
        VALUES (
                #{shippingNumber},
                #{singleAllocation.singleAllocationNumber.value}
                )
    </insert>

    <insert id="registerShippedBundleAllocations">
        INSERT INTO 出荷指示.出荷指示済セット商品引当 (出荷番号, 引当番号)
        VALUES (
                #{shippingNumber},
                #{bundleAllocation.bundleAllocationNumber.value}
                )
    </insert>

    <insert id="markShipping">
        INSERT INTO 出荷指示.出荷済 (出荷番号)
        VALUES (#{shippingNumber.value})
    </insert>

    <insert id="markAsInstructed">
        INSERT INTO 出荷指示._指示済受注(受注ID)
        VALUES (#{salesOrderId.value})
    </insert>

    <delete id="deleteUnshippingState">
        DELETE FROM 出荷指示._未出荷 WHERE 出荷番号 = #{shippingNumber.value}
    </delete>

    <select id="searchInstructed" resultType="guide.tm.domain.model.shipping.content.ShippingInstructionSummary">
        SELECT 出荷指示.出荷番号 AS "shippingNumber.value",
               出荷日 AS "shippingInstructionContent.shippingDate.value",
               受注.受注ID AS "shippingInstructionContent.salesOrderId.value",
               受注.受注番号 AS "shippingInstructionContent.salesOrderNumber.value",
               受注日 AS "orderedDate.value",
               顧客.顧客ID AS "customer.code.value",
               顧客姓 AS "customer.name.lastName",
               顧客名 AS "customer.name.firstName",
               顧客姓カナ AS "customer.nameKana.lastName",
               顧客名カナ AS "customer.nameKana.firstName",
               '出荷指示済' AS "shippingInstructionStatus"
        FROM 出荷指示.出荷指示
        INNER JOIN 受注.受注 ON 出荷指示.受注ID = 受注.受注ID
        INNER JOIN 顧客.顧客 ON 受注.顧客ID = 顧客.顧客ID
        INNER JOIN 出荷指示._未出荷 ON 出荷指示.出荷番号 = 出荷指示._未出荷.出荷番号
        INNER JOIN 出荷指示._指示済受注 ON 受注.受注ID = _指示済受注.受注ID
        <where>
            <if test="!shippingInstructionCriteria.from.isEmpty()">
                <![CDATA[
                  #{shippingInstructionCriteria.from.value} <= 受注日
                ]]>
            </if>
            <if test="!shippingInstructionCriteria.to.isEmpty()">
                <![CDATA[
                  AND 受注日 <= #{shippingInstructionCriteria.to.value}
                ]]>
            </if>
        </where>
    </select>


    <select id="searchNotInstructed" resultType="guide.tm.domain.model.shipping.content.ShippingInstructionSummary">
        SELECT
            出荷指示.出荷番号 AS "shippingNumber.value",
            出荷日 AS "shippingInstructionContent.shippingDate.value",
            受注.受注ID AS "shippingInstructionContent.salesOrderId.value",
            受注.受注番号 AS "shippingInstructionContent.salesOrderNumber.value",
            受注日 AS "orderedDate.value",
            顧客.顧客ID AS "customer.code.value",
            顧客姓 AS "customer.name.lastName",
            顧客名 AS "customer.name.firstName",
            顧客姓カナ AS "customer.nameKana.lastName",
            顧客名カナ AS "customer.nameKana.firstName",
            '出荷指示残あり' AS "shippingInstructionStatus"
        FROM 出荷指示.出荷指示
        INNER JOIN 受注.受注 ON 出荷指示.受注ID = 受注.受注ID
        INNER JOIN 顧客.顧客 ON 受注.顧客ID = 顧客.顧客ID
        INNER JOIN 出荷指示._未出荷 ON 出荷指示.出荷番号 = 出荷指示._未出荷.出荷番号
        <where>
            <foreach item="salesOrderId" index="index" collection="instructedSalesOrderIds"
                     open="受注.受注ID NOT IN  (" separator="," close=")">
                #{salesOrderId.value}
            </foreach>
            <if test="!shippingInstructionCriteria.from.isEmpty()">
                <![CDATA[
                  AND #{shippingInstructionCriteria.from.value} <= 受注日
                ]]>
            </if>
            <if test="!shippingInstructionCriteria.to.isEmpty()">
                <![CDATA[
                  AND 受注日 <= #{shippingInstructionCriteria.to.value}
                ]]>
            </if>
        </where>
    </select>

</mapper>