<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="guide.tm.infrastructure.datasource.shipping.ShippingMapper">

    <insert id="register">
        INSERT INTO 出荷指示.出荷指示 (出荷番号, 受注番号, 出荷日)
        VALUES (
                #{shippingNumber},
                #{shipping.salesOrderNumber.value},
                #{shipping.shippingDate.value}
               )

    </insert>

    <insert id="registerShippedAllocations">
        INSERT INTO 出荷指示.出荷指示済引当 (出荷番号, 引当番号)
        VALUES (
                #{shippingNumber},
                #{singleOrderItemStatus.singleAllocation.singleAllocationNumber.value}
                )
    </insert>

    <insert id="registerShippedBundleAllocations">
        INSERT INTO 出荷指示.出荷指示済セット商品引当 (出荷番号, 引当番号)
        VALUES (
                #{shippingNumber},
                #{bundleOrderItemStatus.bundleAllocation.bundleAllocationNumber.value}
                )
    </insert>

</mapper>