<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="guide.tm.infrastructure.datasource.shipping.ShippingMapper">

    <insert id="markAsShipped">
        INSERT INTO 出荷指示.出荷済 (出荷番号)
        VALUES (#{shippingNumber.value})
    </insert>

    <delete id="deleteUnshippingState">
        DELETE FROM 出荷指示._未出荷 WHERE 出荷番号 = #{shippingNumber.value}
    </delete>

    <select id="shippedOrders" resultType="guide.tm.domain.model.invoice.InvoiceSummary">
        SELECT
            顧客.顧客ID,
            顧客.顧客名,
            受注.受注日
        FROM 出荷指示.出荷済
        INNER JOIN 出荷指示.出荷指示 ON 出荷指示.出荷番号 = 出荷済.出荷番号
        INNER JOIN 受注.受注 ON 出荷指示.受注ID = 受注.受注ID
        INNER JOIN 顧客.顧客 ON 受注.顧客ID = 顧客.顧客ID
    </select>
</mapper>