<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="guide.tm.infrastructure.datasource.shipping.ShippingMapper">

    <insert id="register">
        INSERT INTO 出荷.出荷 (出荷番号, 顧客番号, 運送会社コード, 出荷日)
        VALUES (
                #{shippingNumber},
                #{shipping.customerNumber.value},
                #{shipping.shippingCompanyCode.value},
                #{shipping.shippingDate.value}
               )

    </insert>
    <select id="shippingOf" resultType="guide.tm.domain.model.shipping.content.Shipping">
       SELECT
           出荷番号 AS "",
           顧客番号 AS "customerNumber.value",
           運送会社コード AS "shippingCompanyCode.value",
           出荷日 AS "shippingDate.value"
       FROM 出荷.出荷
       WHERE 出荷番号 = #{shippingNumber.value}
    </select>
</mapper>