<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="guide.tm.infrastructure.datasource.shipping.ShippingItemMapper">

    <select id="singleShippingItems" resultType="guide.tm.domain.model.shipping.single.SingleShippingItem">
        SELECT
            出荷番号,
            受注番号,
            受注明細番号 AS "salesOrderItemNumber.value",
            商品.商品コード AS "singleProduct.code.value",
            商品.商品名称 AS "singleProduct.name.value",
            商品.商品単価 AS "singleProduct.unitPrice.amount.value"
        FROM 出荷指示.出荷指示済引当
            INNER JOIN 引当.個別商品引当 ON 出荷指示済引当.引当番号 = 個別商品引当.引当番号
            INNER JOIN 引当.個別商品引当明細 ON 個別商品引当.引当番号 = 個別商品引当明細.引当番号
            INNER JOIN 商品.商品 ON 個別商品引当.商品コード = 商品.商品コード
        WHERE 受注番号 = #{salesOrderId.value}
    </select>

    <select id="bundleShippingItems" resultType="guide.tm.domain.model.shipping.bundle.BundleShippingItem">
        SELECT
            出荷番号,
            受注番号,
            受注明細番号 AS "salesOrderItemNumber.value",
            セット商品.商品コード AS "bundleProduct.code.value",
            セット商品.商品名称 AS "bundleProduct.name.value",
            セット商品.商品単価 AS "bundleProduct.unitPrice.amount.value"
        FROM 出荷指示.出荷指示済セット商品引当
                 INNER JOIN 引当.セット商品引当 ON 出荷指示済セット商品引当.引当番号 = セット商品引当.引当番号
                 INNER JOIN 引当.セット商品引当明細 ON セット商品引当.引当番号 = セット商品引当明細.引当番号
                 INNER JOIN 商品.セット商品 ON セット商品引当.商品コード = セット商品.商品コード
        WHERE 受注番号 = #{salesOrderId.value}
    </select>

</mapper>