mybatis:
  config-location: classpath:mybatis.xml

spring:
  jackson:
    visibility:
      field: non_private
    property-naming-strategy: SNAKE_CASE
  datasource:
    url: jdbc:h2:mem:testdb;MODE=PostgreSQL
  h2:
    console:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,env,prometheus
  endpoint:
    health:
      show-details: always

logging:
  level:
    guide.tm:
      infrastructure.datasource: DEBUG