<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="guide.tm.infrastructure.datasource.salesorder.SalesOrderMapper">

    <insert id="registerSalesOrder">
        INSERT INTO 受注.受注 (受注ID, 受注番号, 顧客ID, 受注日, 都道府県, 住所)
        VALUES (
                   #{salesOrderId},
                   #{salesOrderNumber.value},
                   #{salesOrder.customerId.value},
                   #{salesOrder.orderedDate.value},
                   #{salesOrder.shippingAddress.prefecture},
                   #{salesOrder.shippingAddress.addressLine}
               )
    </insert>

    <select id="salesOrderOf" resultType="guide.tm.domain.model.salesorder.content.SalesOrderContent">
        SELECT
            受注ID,
            受注番号    AS "salesOrderNumber.value",
            受注.顧客ID AS "customerId.value",
            顧客名 AS "customerName.name.value",
            顧客名カナ AS "customerName.nameKana.value",
            受注日 AS "orderedDate.value",
            都道府県 AS "shippingAddress.prefecture",
            住所 AS "shippingAddress.addressLine"
        FROM 受注.受注
        INNER JOIN 顧客.顧客 ON 受注.顧客ID = 顧客.顧客ID
        WHERE 受注ID = #{salesOrderId.value}
    </select>

    <select id="salesOrderSummaries" resultType="guide.tm.domain.model.salesorder.order.SalesOrderSummary">
        SELECT 受注ID      AS "salesOrderId.value",
               受注番号    AS "salesOrderNumber.value",
               受注.顧客ID AS "customer.code.value",
               顧客名        AS "customer.customerName.name.value",
               顧客名カナ      AS "customer.customerName.nameKana.value",
               受注日        AS "orderedDate.value"
        FROM 受注.受注
                 INNER JOIN 顧客.顧客 ON 受注.顧客ID = 顧客.顧客ID
        <where>
              (
                  顧客名 LIKE CONCAT('%', #{salesOrderSearchCriteria.customerName}, '%')
                  OR 顧客名カナ LIKE CONCAT('%', #{salesOrderSearchCriteria.customerName}, '%')
              )
            <if test="!salesOrderSearchCriteria.from.isEmpty()">
                <![CDATA[
                  AND #{salesOrderSearchCriteria.from.value} <= 受注日
                ]]>
            </if>
            <if test="!salesOrderSearchCriteria.to.isEmpty()">
                <![CDATA[
                  AND 受注日 <= #{salesOrderSearchCriteria.to.value}
                ]]>
            </if>
            <if test="!salesOrderSearchCriteria.customerId.isEmpty()">
                <![CDATA[
                  AND 顧客.顧客ID <= #{salesOrderSearchCriteria.customerId.value}
                ]]>
            </if>

        </where>

    </select>

    <select id="taxSumTypeOf" resultType="guide.tm.domain.model.tax.context.TaxSumType">
        SELECT
            計算方式 AS "taxSumType"
        FROM 受注.消費税計算方式
        WHERE 受注ID = #{salesOrderId.value}
    </select>

    <insert id="registerTax">
        INSERT INTO 受注.消費税計算方式 (受注ID, 計算方式)
        VALUES (
                #{salesOrderId.value},
                #{taxSumType}
               )
    </insert>

    <insert id="markAsOrdered">
        INSERT INTO 受注.受注済 (受注ID)
        VALUES (#{salesOrderId.value})
    </insert>

    <select id="newSaleOrderNumber" resultType="long">
        SELECT nextval('受注.受注明細番号')
    </select>

    <select id="salesOrderIdsOf" resultType="guide.tm.domain.model.salesorder.order.SalesOrderId">
        <![CDATA[
        SELECT 受注ID      AS "value",

               受注番号    AS "salesOrderNumber.value",
               受注.顧客ID AS "customer.code.value",
               顧客名        AS "customer.name.value",
               顧客名カナ      AS "customer.nameKana.value",
               受注日        AS "orderedDate.value"
        FROM 受注.受注
                 INNER JOIN 顧客.顧客 ON 受注.顧客ID = 顧客.顧客ID
        WHERE 顧客.顧客ID = #{customerId.value}
          AND 受注日 >= #{startOfOrderedMonth.value}
          AND 受注日 <= #{endOfOrderedMonth.value}
        ]]>
    </select>

    <select id="completedOrderOf" resultType="guide.tm.domain.model.salesorder.order.SalesOrderId">
        SELECT
            受注ID AS "value"
        FROM 受注.受注済
        WHERE 受注ID = #{salesOrderId.value}
    </select>


</mapper>