<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="guide.tm.infrastructure.datasource.salesorder.SalesOrderItemMapper">

    <select id="salesOrderItemsOf" resultType="guide.tm.domain.model.salesorder.orderitem.single.SingleOrderItem">
        SELECT
            受注明細番号 AS "salesOrderItemNumber.value",
            商品.商品コード AS "singleOrderItemContent.product.code.value",
            商品名称 AS "singleOrderItemContent.product.name.value",
            商品単価 AS "singleOrderItemContent.product.unitPrice.amount.value",
            受注数量 AS "singleOrderItemContent.quantity.value"
        FROM 受注.受注明細
        INNER JOIN 商品.商品 ON 商品.商品コード = 受注明細.商品コード
        WHERE 受注ID = #{salesOrderNumber.value}
    </select>

    <insert id="registerSingleProductOrder">
        INSERT INTO 受注.受注明細 (受注ID, 受注明細番号, 商品コード, 受注数量)
        VALUES (
                   #{salesOrderNumber.value},
                   #{saleOrderItemNumber},
                   #{salesOrderItemRequest.productCode.value},
                   #{salesOrderItemRequest.quantity.value}
               )
    </insert>

    <insert id="registerBundleProductOrder">
        INSERT INTO 受注.セット商品受注明細 (受注番号, 受注明細番号, 商品コード, 受注数量)
        VALUES (
                   #{salesOrderNumber.value},
                   #{saleOrderItemNumber},
                   #{salesOrderItemRequest.productCode.value},
                   #{salesOrderItemRequest.quantity.value}
               )
    </insert>

    <resultMap id="BundleProductOrderItem" type="guide.tm.domain.model.salesorder.orderitem.bundle.BundleProductOrderItem">
        <id property="salesOrderItemNumber.value" column="受注明細番号"/>
        <result property="bundleProductOrderItemContent.product.code.value" column="セット商品コード"/>
        <result property="bundleProductOrderItemContent.product.name.value" column="セット商品名称"/>
        <result property="bundleProductOrderItemContent.product.unitPrice.amount.value" column="セット商品単価"/>
        <result property="bundleProductOrderItemContent.quantity.value" column="受注数量"/>
        <collection property="bundleProductOrderItemContent.product.bundleProductItems.list"
                    ofType="guide.tm.domain.model.product.single.SingleProduct">
            <id property="code.value" column="個別商品コード"/>
            <result property="name.value" column="個別商品名称"/>
            <result property="unitPrice.amount.value" column="個別商品単価"/>
        </collection>
    </resultMap>

    <select id="bundleProductOrderItemsOf" resultMap="BundleProductOrderItem">
        SELECT
            受注明細番号,
            セット商品.商品コード AS "セット商品コード",
            セット商品.商品名称 AS "セット商品名称",
            セット商品.商品単価 AS "セット商品単価",
            商品.商品コード AS "個別商品コード",
            商品.商品名称 AS "個別商品名称",
            商品.商品単価 AS "個別商品単価",
            受注数量
        FROM 受注.セット商品受注明細
        INNER JOIN 受注.受注 ON 受注.受注ID = セット商品受注明細.受注番号
        INNER JOIN 商品.セット商品 ON セット商品受注明細.商品コード = セット商品.商品コード
        INNER JOIN 商品.セット商品組合せ ON セット商品.商品コード = セット商品組合せ.セット商品コード
        INNER JOIN 商品.商品 ON 商品.商品コード = セット商品組合せ.商品コード
        WHERE 受注.受注ID = #{salesOrderNumber.value}
    </select>

</mapper>