<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="guide.tm.infrastructure.datasource.salesorder.SalesOrderMapper">

    <insert id="registerSalesOrder">
        INSERT INTO 受注.受注 (受注ID, 受注番号, 顧客ID, 受注日, 都道府県, 住所)
        VALUES (
                   #{salesOrderId},
                   #{salesOrderNumber.value},
                   #{salesOrder.customer.customerId.value},
                   #{salesOrder.orderedDate.value},
                   #{salesOrder.shippingAddress.prefecture},
                   #{salesOrder.shippingAddress.addressLine}
               )
    </insert>

    <select id="salesOrderOf" resultType="guide.tm.domain.model.salesorder.content.SalesOrderContent">
        SELECT
            受注ID,
            受注番号    AS "salesOrderNumber.value",
            受注.顧客ID AS "customer.customerId.value",
            顧客姓 AS "customer.name.lastName",
            顧客名 AS "customer.name.firstName",
            顧客姓カナ AS "customer.nameKana.lastName",
            顧客名カナ AS "customer.nameKana.firstName",
            受注日 AS "orderedDate.value",
            都道府県 AS "shippingAddress.prefecture",
            住所 AS "shippingAddress.addressLine"
        FROM 受注.受注
        INNER JOIN 顧客.顧客 ON 受注.顧客ID = 顧客.顧客ID
        WHERE 受注ID = #{salesOrderId.value}
    </select>

    <select id="salesOrderSummaries" resultType="guide.tm.domain.model.salesorder.order.SalesOrderSummary">
        SELECT 受注ID      AS "salesOrderId.value",
               受注番号    AS "salesOrderNumber.value",
               受注.顧客ID AS "customer.code.value",
               顧客姓        AS "customer.name.lastName",
               顧客名        AS "customer.name.firstName",
               顧客姓カナ      AS "customer.nameKana.lastName",
               顧客名カナ      AS "customer.nameKana.firstName",
               受注日        AS "orderedDate.value"
        FROM 受注.受注
                 INNER JOIN 顧客.顧客 ON 受注.顧客ID = 顧客.顧客ID
        <where>
              (
                  顧客姓 LIKE CONCAT('%', #{salesOrderSearchCriteria.customerName}, '%')
                      OR 顧客名 LIKE CONCAT('%', #{salesOrderSearchCriteria.customerName}, '%')
                      OR 顧客姓カナ LIKE CONCAT('%', #{salesOrderSearchCriteria.customerName}, '%')
                      OR 顧客名カナ LIKE CONCAT('%', #{salesOrderSearchCriteria.customerName}, '%')
              )
            <if test="!salesOrderSearchCriteria.from.isEmpty()">
                <![CDATA[
                  AND #{salesOrderSearchCriteria.from.value} <= 受注日
                ]]>
            </if>
            <if test="!salesOrderSearchCriteria.to.isEmpty()">
                <![CDATA[
                  AND 受注日 <= #{salesOrderSearchCriteria.to.value}
                ]]>
            </if>
        </where>

    </select>

    <select id="taxSumTypeOf" resultType="guide.tm.domain.model.tax.context.TaxSumType">
        SELECT
            計算方式 AS "taxSumType"
        FROM 受注.消費税計算方式
        WHERE 受注番号 = #{salesOrderId.value}
    </select>

    <insert id="registerTax">
        INSERT INTO 受注.消費税計算方式 (受注番号, 計算方式)
        VALUES (
                #{salesOrderId.value},
                #{taxSumType}
               )
    </insert>

    <select id="newSaleOrderNumber" resultType="long">
        SELECT nextval('受注.受注明細番号')
    </select>

</mapper>