<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>未引当一覧</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
</head>
<body>
<header th:replace="~{_parts/header :: main('引当一覧')}"></header>

<div class="container">

  <form method="get" th:action="@{/allocations}" class="mt-3" th:object="${allocationCriteria}">
    <div class="mb-3 row">
      <div class="row">
        <span class="col-2">
        <label for="orderedDateFrom" class="form-label">受注日From</label>
           <input type="date" class="form-control" id="orderedDateFrom"
                  th:classappend="${#fields.hasErrors('orderedDate*')}? 'is-invalid'"
                  th:name="from.value" th:value="*{from}">
        </span>
        <span class="col-1  text-center">
        <label for="orderedDateFrom" class="form-label">&nbsp;</label>
          <div class="">
          〜
          </div>
        </span>
        <span class="col-2">
        <label for="orderedDateFrom" class="form-label">受注日To</label>
            <input type="date" class="form-control" id="orderedDateTo"
                   th:classappend="${#fields.hasErrors('orderedDate*')}? 'is-invalid'"
                   th:name="to.value" th:value="*{to}">
        </span>
        <div class="col-md-4">
          <label class="form-label">引当状況</label>
          <div class="form-check" th:each="allocationStatus: ${allocatedStatuses}">
            <input class="form-check-input" type="checkbox" th:field="*{allocationStatusList}" th:value="${allocationStatus}" />
            <label  th:for="${#ids.prev('allocationStatusList')}"
                    th:text="${allocationStatus.name}">引当済
            </label>
          </div>
        </div>
        <div class="col-md-1">
          <label for="sales-order-search-button" class="form-label">&nbsp;</label>
          <div class="">
            <button type="submit" class="btn btn-primary" id="sales-order-search-button">検索</button>
          </div>
        </div>
      </div>
    </div>
  </form>


  <table class="table table-striped table-hover mt-4">
    <thead>
    <tr>
      <th>受注番号</th>
      <th>受注日</th>
      <th>顧客名称</th>
      <th>引当状況</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="allocationSummary : ${allocationSummaries.list}">
      <td class="align-middle"><a th:href="@{|/sales-orders/${allocationSummary.salesOrderSummary.salesOrderId}/allocations|}" th:text="${allocationSummary.salesOrderSummary.salesOrderNumber}">12345678978</a></td>
      <td th:text="${allocationSummary.salesOrderSummary.orderedDate}" class="align-middle">2022-12-22</td>
      <td th:text="${allocationSummary.salesOrderSummary.customer.name}" class="align-middle">本田正勝</td>
      <td>
        <h5 th:unless="${allocationSummary.allocatedStatus.isAllocated}"><span class="badge bg-warning" th:text="${allocationSummary.allocatedStatus}">引当残あり</span></h5>
        <h5 th:if="${allocationSummary.allocatedStatus.isAllocated}"><span class="badge bg-success" th:text="${allocationSummary.allocatedStatus}">引当済</span></h5>
      </td>
    </tr>
    </tbody>
  </table>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

</body>
</html>