<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="guide.tm.infrastructure.datasource.product.single.ProductMapper">

    <insert id="register">
        INSERT INTO 商品.商品 (商品コード, 商品名称, 商品単価, 税率区分)
        VALUES (
                #{product.code.value},
                #{product.name.value},
                #{product.unitPrice.amount.value},
                #{product.taxRateType}
                )
    </insert>

    <select id="searchSingleProducts" resultType="guide.tm.domain.model.product.summary.ProductSummary">
        SELECT
            商品コード AS "productCode.value",
            商品名称 AS "productName.value",
            商品単価 AS "unitPrice.amount.value",
            '個別' AS "productType"
        FROM 商品.商品
        WHERE 商品.商品名称 LIKE CONCAT('%', #{productSearchCriteria.productName}, '%')
    </select>

    <select id="searchBundleProducts" resultType="guide.tm.domain.model.product.summary.ProductSummary">
        SELECT
            商品コード AS "productCode.value",
            商品名称 AS "productName.value",
            商品単価 AS "unitPrice.amount.value",
            'セット' AS "productType"
        FROM 商品.セット商品
        WHERE セット商品.商品名称 LIKE CONCAT('%', #{productSearchCriteria.productName}, '%')
    </select>


</mapper>