<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>受注詳細</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
</head>
<body>

<div class="container">
  <h1 class="display-3">受注詳細</h1>

  <div class="mb-3 row">
    <label for="customerName" class="col-sm-2 col-form-label">顧客名称</label>
    <div class="col-sm-4">
      <span id="customerName" class="font-weight-bold" th:text="${salesOrder.salesOrderContent.customer.name}">岸田 文雄</span>
    </div>
    <label for="orderedDate" class="col-sm-2 col-form-label">受注日</label>
    <div class="col-sm-4">
      <span id="orderedDate" class="font-weight-bold" th:text="${salesOrder.salesOrderContent.orderedDate}">2023-01-01</span>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="shippingAddressLine" class="col-sm-2 col-form-label">届け先住所</label>
    <div class="col-sm-4">
      <span id="shippingAddressLine" class="font-weight-bold" th:text="${salesOrder.salesOrderContent.shippingAddress}">東京都千代田区1-1-1</span>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="total" class="col-sm-2 col-form-label">受注金額</label>
    <div class="col-sm-2">
      <input type="text" readonly class="form-control-plaintext" id="total" th:value="${salesOrder.totalAmount}">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="amountExcludingTax" class="col-sm-2 col-form-label">税抜き金額</label>
    <div class="col-sm-2">
      <input type="text" readonly class="form-control-plaintext" id="amountExcludingTax" th:value="${salesOrder.amountExcludingTax}">
    </div>
    <label for="tax" class="col-sm-2 col-form-label">消費税</label>
    <div class="col-sm-2">
      <input type="text" readonly class="form-control-plaintext" id="tax" th:value="${salesOrder.tax}">
    </div>
    <label for="shippingFee" class="col-sm-2 col-form-label">送料</label>
    <div class="col-sm-2">
      <input type="text" readonly class="form-control-plaintext" id="shippingFee" th:value="${salesOrder.shippingFee.amount}">
    </div>
  </div>


  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th></th>
        <th>商品名称</th>
        <th class="text-end">数量</th>
        <th class="text-end">商品単価</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="singleOrderItem: ${salesOrder.singleProductOrderItems.list}">
        <td class="text-center">
          <i class="bi bi-bag-check"></i>
        </td>
        <td th:text="${singleOrderItem.product.name}">個別商品名</td>
        <td class="text-end" th:text="${singleOrderItem.quantity}">2</td>
        <td class="text-end" th:text="${singleOrderItem.product.unitPrice}">879</td>
      </tr>
      <th:block th:each="bundleProductOrderItem: ${salesOrder.bundleProductOrderItems.list}">
        <tr>
          <td class="text-center">
            <i class="bi bi-bag-check"></i>
          </td>
          <td th:text="${bundleProductOrderItem.bundleProduct.name}">セット商品名</td>
          <td class="text-end" th:text="${bundleProductOrderItem.quantity}">2</td>
          <td class="text-end" th:text="${bundleProductOrderItem.bundleProduct.unitPrice}">879</td>
        </tr>
        <tr th:each="product: ${bundleProductOrderItem.bundleProduct.bundleProductItems.list}">
          <td class="text-center">
          </td>
          <td th:text="|&nbsp;&nbsp;${product.name}|">個別商品名</td>
          <td class="text-end">--</td>
          <td class="text-end">--</td>
        </tr>
      </th:block>
    </tbody>
    <tfoot>
    </tfoot>
  </table>

  <form method="post" th:action="@{/sales-orders/__${salesOrderNumber}__/items}" th:object="${salesOrderItemRequest}">
  <div class="row">
    <span class="col-4">
      <input type="text" class="form-control" id="product-name" name="">
      <input type="hidden" class="form-control" id="product-code" name="productCode.value">
      <input type="hidden" class="form-control" id="product-type" name="productType">
    </span>
    <span class="col-2">
      <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#productModal">
        商品検索
      </button>
    </span>
    <span class="col-2">
      <input type="number" class="form-control text-center" name="quantity.value">
    </span>
    <span class="col-2">
      <button type="submit" class="btn btn-primary">商品追加</button>
    </span>
  </div>
  </form>

  <hr>

  <form method="post" th:action="@{/allocate/sales-orders/__${salesOrderNumber}__}">
    <button type="submit" class="btn btn-primary">引当（受注登録完了）</button>
  </form>


  <!--/* 商品モーダル */-->
  <div class="modal" tabindex="-1" id="productModal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">商品選択</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="productNameCriteria" class="form-label">商品名称</label>
          </div>
          <div class="row">
          <span class="col-4">
            <input type="text" class="form-control " name="productName" id="productNameCriteria">
          </span>
            <span class="col-2">
            <button type="submit" class="btn btn-primary" id="product-search-button">検索</button>
          </span>
          </div>

          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>商品名</th>
              <th>価格</th>
              <th>個別/セット</th>
              <th></th>
            </tr>
            </thead>
            <tbody id="product-summaries">
            </tbody>
          </table>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
        </div>
      </div>
    </div>
    <!--/* テンプレート */-->
    <template id="template">
      <tr>
        <td class="product-name"></td>
        <td class="price"></td>
        <td class="productType"></td>
        <td>
          <input type="hidden" name="product-code" class="product-code">
          <button type="button" class="select btn btn-info" data-bs-dismiss="modal">選択</button>
        </td>
      </tr>
    </template>
  </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>


<!--/* 商品モーダル */-->
<script>
  document.getElementById("product-search-button").addEventListener('click', async () => {
    const name = document.getElementById("productNameCriteria").value
    const res = await searchCustomers(name)
    const products = res.list

    console.log({ products })
    const template = document.getElementById('template');

    const summaries = document.getElementById('product-summaries');
    while (summaries.firstChild) {
      summaries.removeChild(summaries.firstChild)
    }
    for (let i = 0; i < products.length; i++) {
      const clone = template.content.cloneNode(true);

      // 複製したtemplate要素にデータを挿入
      clone.querySelector('.product-name').textContent = products[i].product_name.value;
      clone.querySelector('.price').textContent = products[i].unit_price.amount.value;
      clone.querySelector('.productType').textContent = products[i].product_type;
      clone.querySelector('.product-code').textContent = products[i].product_code.value;
      clone.querySelector('.select').value = i;
      clone.querySelector('.select').id = `select-button-${i}`;

      clone.querySelector('.select').addEventListener('click', () => {
        document.getElementById("product-code").value = products[i].product_code.value
        document.getElementById("product-name").value = products[i].product_name.value;
        document.getElementById("product-type").value = products[i].product_type;
      })

      // div#containerの中に追加
      summaries.appendChild(clone);
    }
  })
  const searchCustomers = async (productName) => {
    const params = {productNameName: productName};
    const query = new URLSearchParams(params);
    const response = await fetch(`/products?${query}`, {
      method: "GET",
    })
    return response.json()
  }
</script>
</body>
</html>