<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>請求詳細</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
</head>
<body>
<header th:replace="~{_parts/header :: main('請求詳細')}"></header>

<div class="container">

  <div class="row mt-3">

    <span class="col-6">
      <div class="list-group w-auto">
        <span class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <i class="bi bi-123" style="font-size: 1.5rem; color: cornflowerblue;"></i>
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0 opacity-75">請求番号</h6>
              <p class="mb-0">7789890</p>
            </div>
          </div>
        </span>
        <span class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <i class="bi bi-calendar-event" style="font-size: 1.5rem; color: cornflowerblue;"></i>
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0 opacity-75">請求日</h6>
              <p class="mb-0" >2023-02-28</p>
            </div>
          </div>
        </span>

        <span class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <i class="bi bi-check" style="font-size: 1.5rem; color: cornflowerblue;"></i>
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0 opacity-75">支払ステータス</h6>
              <p class="mb-0" >支払済</p>
            </div>
          </div>
        </span>

        <span class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <i class="bi bi-currency-yen" style="font-size: 1.5rem; color: cornflowerblue;"></i>
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0 opacity-75">請求金額</h6>
              <p class="mb-0" >8,900</p>
            </div>
          </div>
        </span>
        <span class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <i class="bi bi-currency-yen" style="font-size: 1.5rem; color: cornflowerblue;"></i>
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0 opacity-75">税抜き金額</h6>
              <p class="mb-0" >8,700</p>
            </div>
          </div>
        </span>
        <span href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <i class="bi bi-tag" style="font-size: 1.5rem; color: cornflowerblue;"></i>
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0 opacity-75">消費税</h6>
              <p class="mb-0" >870</p>
            </div>
          </div>
        </span>
        <span href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <i class="bi bi-box" style="font-size: 1.5rem; color: cornflowerblue;"></i>
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0 opacity-75">送料</h6>
              <p class="mb-0" >1050</p>
            </div>
          </div>
        </span>
      </div>
    </span>


    <span class="col-6">
      <div class="list-group w-auto">
        <span class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <i class="bi bi-building" style="font-size: 1.5rem; color: cornflowerblue;"></i>
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0 opacity-75">顧客名</h6>
              <p class="mb-0">アナハイム・エレクトロニクス</p>
            </div>
          </div>
        </span>
        <span class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <i class="bi bi-person" style="font-size: 1.5rem; color: cornflowerblue;"></i>
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0 opacity-75">担当者</h6>
              <p class="mb-0" >岸田 文雄</p>
            </div>
          </div>
        </span>
        <span class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <i class="bi bi-house" style="font-size: 1.5rem; color: cornflowerblue;"></i>
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0 opacity-75">顧客住所</h6>
              <p class="mb-0" >目黒区目黒1-1-1</p>
            </div>
          </div>
        </span>
        <span class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <i class="bi bi-phone" style="font-size: 1.5rem; color: cornflowerblue;"></i>
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0 opacity-75">顧客電話番号</h6>
              <p class="mb-0" >03-1234-2345</p>
            </div>
          </div>
        </span>
        <span class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <i class="bi bi-123" style="font-size: 1.5rem; color: cornflowerblue;"></i>
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0 opacity-75">受注番号</h6>
              <p class="mb-0"><a href="" th:href="@{/sales-orders/e6707ec5-d767-42f7-bd45-5ebfb4555be5}">8989890</a></p>
            </div>
          </div>
        </span>
        <span class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <i class="bi bi-calendar-event" style="font-size: 1.5rem; color: cornflowerblue;"></i>
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0 opacity-75">受注日</h6>
              <p class="mb-0" >2023-01-01</p>
            </div>
          </div>
        </span>
        <span class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <i class="bi bi-house" style="font-size: 1.5rem; color: cornflowerblue;"></i>
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0 opacity-75">届け先住所</h6>
              <p class="mb-0" >東京都千代田区1-1-1</p>
            </div>
          </div>
        </span>
      </div>
    </span>


  </div>


  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th></th>
      <th>受注番号</th>
      <th>受注日</th>
    </tr>
    </thead>
    <tbody>
<!--    <tr th:each="salesOrderSummary : ${salesOrderSummaries.list}">-->
<!--      <td class="text-center">-->
<!--        <a href="" th:href="@{|/sales-orders/${salesOrderSummary.salesOrderNumber}|}">-->
<!--          <i class="bi bi-bag-check" style="font-size: 1.5rem;"></i>-->
<!--        </a>-->
<!--      </td>-->
<!--      <td class="align-middle"><a th:href="@{|/sales-orders/${salesOrderSummary.salesOrderId}|}" th:text="${salesOrderSummary.salesOrderNumber}">12345678978</a></td>-->
<!--      <td th:text="${salesOrderSummary.orderedDate}" class="align-middle">2022-12-22</td>-->
<!--      <td th:text="${salesOrderSummary.customer.name}" class="align-middle">本田正勝</td>-->
<!--      <td>-->
<!--        <a th:href="@{|sales-orders/${salesOrderSummary.salesOrderId}/allocations|}"-->
<!--           class="btn btn-outline-primary ">-->
<!--          引当状況-->
<!--        </a>-->
<!--      </td>-->
<!--    </tr>-->
    </tbody>
  </table>


</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

</body>
</html>