<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <meta th:fragment="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>販売管理</title>
  <!--  <link th:href="@{/css/tailwind.css}" href="../static/css/tailwind.css" rel="stylesheet">-->
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<main>
  <article>
    <h1 class="text-8xl text-green-700 text-center font-semibold">販売管理</h1>

    <div class="text-center">
      <a href="" th:href="@{/sales-orders}" class="text-4xl">受注</a>
    </div>
    <div class="text-center">
      <a href="" class="text-4xl">引当</a>
    </div>
    <div class="text-center">
      <a href="" class="text-4xl">出荷</a>
    </div>
    <div class="text-center">
      <a href="" class="text-4xl">請求</a>
    </div>
  </article>
</main>
</body>
</html>