<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>受注一覧</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
</head>
<body>

<div class="container">
  <h1 class="display-3">出荷登録</h1>

  <a href="" th:href="@{/sales-orders/new}" class="btn btn-outline-primary">受注登録へ</a>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th></th>
        <th>顧客名称</th>
        <th>受注日</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <th:block th:each="customerSalesOrder : ${customerSalesOrders.list}">
      <tr>
        <td class="text-center">
<!--          <a href="" th:href="@{|/sales-orders/${salesOrderSummary.salesOrderNumber}|}">-->
          <i class="bi bi-bag-check"></i>
<!--          </a>-->
        </td>
        <td th:text="${customerSalesOrder.customer.name}">本田正勝</td>
        <td></td>
        <td>
          <form th:action="@{/shipping/customer/__${customerSalesOrder.customer.code}__}" method="post">
            <button type="submit" class="btn btn-primary">出荷登録</button>
          </form>
        </td>
      </tr>
        <tr th:each="salesOrderSummary : ${customerSalesOrder.salesOrderSummaries.list}">
          <td><td>
          <td>
          <a href="" th:href="@{/sales-orders/__${salesOrderSummary.salesOrderNumber}__/allocations}" th:text="${salesOrderSummary.orderedDate}">
            2022-12-22
          </a>
          </td>
          <td>出荷済み|未出荷|出荷残あり</td>
      </th:block>
    </tbody>
  </table>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

</body>
</html>