<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="guide.tm.infrastructure.datasource.allocation.AllocationMapper">

    <insert id="registerSingleAllocation">
        INSERT INTO 引当.個別商品引当 (引当番号, 受注番号, 受注明細番号, 商品コード)
        VALUES (
                #{allocationNumber},
                #{salesOrderNumber.value},
                #{singleOrderItem.salesOrderItemNumber.value},
                #{singleOrderItem.singleOrderItemContent.product.code.value}
               )
    </insert>

    <insert id="registerSingleAllocationItem">
        INSERT INTO 引当.個別商品引当明細 (引当番号, 倉庫コード, 引当数量)
        VALUES (
                   #{allocationNumber},
                   #{allocatedLocation.wareHouseCode.value},
                   #{allocatedLocation.allocatedQuantity.value}
               )
    </insert>

    <insert id="registerBundleAllocation">
        INSERT INTO 引当.セット商品引当 (引当番号, 受注番号, 受注明細番号, 商品コード)
        VALUES (
                #{allocationNumber},
                #{salesOrderNumber.value},
                #{bundleProductOrderItem.salesOrderItemNumber.value},
                #{bundleProductOrderItem.bundleProductOrderItemContent.product.code.value}
               )
    </insert>

    <insert id="registerBundleAllocationItem">
        INSERT INTO 引当.セット商品引当明細 (引当番号, 商品コード, 倉庫コード, 引当数量)
        VALUES (
                #{bundleAllocationNumber.value},
                #{singleProduct.code.value},
                #{allocatedLocation.wareHouseCode.value},
                #{allocatedLocation.allocatedQuantity.value}
               )
    </insert>

    <resultMap id="SingleAllocation" type="guide.tm.domain.model.allocation.single.SingleAllocation">
        <id property="singleAllocationNumber.value" column="引当番号"/>
        <result property="salesOrderNumber.value" column="受注番号"/>
        <result property="salesOrderItemNumber.value" column="受注明細番号"/>
        <result property="productAllocation.productCode.value" column="商品コード"/>
        <collection property="productAllocation.allocatedLocations.list" ofType="guide.tm.domain.model.allocation.location.AllocatedLocation">
            <result property="wareHouseCode.value" column="倉庫コード"/>
            <result property="allocatedQuantity.value" column="引当数量"/>
        </collection>
    </resultMap>

    <select id="singleAllocationsOf" resultMap="SingleAllocation">
        SELECT 個別商品引当.引当番号 AS "引当番号",
               受注番号,
               受注明細番号,
               商品コード,
               倉庫コード,
               引当数量
        FROM 引当.個別商品引当
                 INNER JOIN 引当.個別商品引当明細 ON 個別商品引当.引当番号 = 個別商品引当明細.引当番号
        WHERE 受注番号 = #{salesOrderNumber.value}
    </select>

    <resultMap id="BundleAllocation" type="guide.tm.domain.model.allocation.bundle.BundleAllocation">
        <id property="bundleAllocationNumber.value" column="引当番号"/>
        <result property="salesOrderNumber.value" column="受注番号"/>
        <result property="salesOrderItemNumber.value" column="受注明細番号"/>
        <result property="bundleProductCode.value" column="セット商品コード"/>
        <collection property="productAllocations.list" ofType="guide.tm.domain.model.allocation.location.ProductAllocation">
            <id property="productCode.value" column="個別商品コード"/>
            <collection property="allocatedLocations.list" ofType="guide.tm.domain.model.allocation.location.AllocatedLocation">
                <result property="wareHouseCode.value" column="倉庫コード"/>
                <result property="allocatedQuantity.value" column="引当数量"/>
            </collection>
        </collection>
    </resultMap>

    <select id="bundleAllocationsOf" resultMap="BundleAllocation">
        SELECT セット商品引当.引当番号 AS "引当番号",
               受注番号,
               受注明細番号,
               セット商品引当.商品コード AS "セット商品コード",
               セット商品引当明細.商品コード AS "個別商品コード",
               倉庫コード,
               引当数量
        FROM 引当.セット商品引当
                 INNER JOIN 引当.セット商品引当明細 ON セット商品引当.引当番号 = セット商品引当明細.引当番号
        WHERE 受注番号 = #{salesOrderNumber.value}
    </select>
</mapper>