<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="guide.tm.infrastructure.datasource.stock.StockMapper">

    <select id="stocksOf" resultType="guide.tm.domain.model.allocation.stock.Stock">
        SELECT
            商品コード AS "productCode.value",
            倉庫コード AS "wareHouseCode.value",
            在庫数量 AS "quantity.value"
        FROM 在庫._在庫
        WHERE 商品コード = #{product.code.value}
    </select>

    <insert id="register">
        INSERT INTO 在庫._在庫(商品コード, 倉庫コード, 在庫数量)
        VALUES (
                #{stock.productCode.value},
                #{stock.wareHouseCode.value},
                #{stock.quantity.value}
                )
    </insert>
</mapper>